<h1>Đây là trang chi tiết</h1>
<form>
    <div>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" ng-model="product.name" disabled>
    </div>
    <div>
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" ng-model="product.description" disabled>
    </div>
    <div>
        <label for="" class="form-label">Price</label>
        <input type="text" class="form-control" ng-model="product.price" disabled>
    </div>
</form>